/* empty_2頁面 */
#empty_2_bg{
    width: 100vw;
    height: 100vh;
    background-image: url("../img/desktop/emptyRoom/emptyRoom_02_bg.png");
    background-size: cover;
    position: relative;
}

#empty_2_left_img{
    width: 35.55vw;
    height: 48.38vh;
    position: absolute;
    top: 32.72vh;
    left: 11.953vw;
    background-image: url("../img/desktop/emptyRoom/emptyRoom_02_img_rleft.png");
    background-size: cover;

}

#empty_2_blue{
    width: 28.996vw;
    height: 7.599vh;
    position: absolute;
    top: 58.50vh;
    left: 13.426vw;
    background-image: url("../img/desktop/emptyRoom/emptyRoom_02_text_blueText.png");
    background-size: cover;
}

#empty_2_right_img{
    width: 32.311vw;
    height: 59.10vh;
    position: absolute;
    top: 10.01vh;
    left: 56.51vw;
    background-image: url("../img/desktop/emptyRoom/emptyRoom_02_img_right.png");
    background-size: cover;
}

#empty_2_saso{
    width: 79.10vw;
    height: 24.714vh;
    position: absolute;
    top: 42.7vh;
    left: 9.86vw;
    background-image: url("../img/desktop/emptyRoom/emptyRoom_02_text_saso.png");
    background-size: cover;
    z-index: 99;
}