@keyframes animation_saso {
    0%{opacity: 0;}
    100%{opacity: 100%;}
}


body{
    background-image: url(../img/desktop/floor/floor_bg.png);
    background-size: cover;
}

#container{
    height: 100vh;
    width: 100vw;
}

#floor_clickBtn{
    width: 8.5vw;
    height: auto;
    position: absolute;
    top: 30vh;
    right: 6vw;
    z-index: 999;
}

#floor_clickBtn img{
    width: 100%;
}

#floor_text{
    width: 46vw;
    height: auto;
    position: absolute;
    left: 27vw;
    bottom: 5vh;
    z-index: 2;
}

#floor_img_bottom{
    height: 18.5vh;
    width: auto;
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 3vw;
    bottom: 5vh;
}

#floor_img_bottom img{
    height: 100%;
    width: auto;
}

#floor_img_top{
    width: auto;
    height: 63vh;
    position: absolute;
    top: 4vh;
    right: 3vw;
}

#floor_animation_saso{
    width: 20vw;
    height: auto;
    position: absolute;
    left: 20vw;
    top: 5vh;
    display: flex;
    flex-direction: column;
    z-index: 3;;
}

#floor_animation_saso img{
    opacity: 0;
    width: 100%;
    height: auto;
    margin-bottom: -15px;
    animation-name: animation_saso;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}


#floor_animation_saso img[src="../../img/desktop/floor/floor_animation_saso_02.png"]{
    animation-delay: 2s;
}

#floor_animation_saso img[src="../../img/desktop/floor/floor_animation_saso_03.png"]{
    animation-delay: 4s;
}

#floor_animation_star{
    height: auto;
    width: 100vw;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}

/* RWD: 576px */

@media  (max-width: 576px){

    body{
        background-image: url(../img/mobile/floor/floor_m_bg.png);
    }

    #floor_clickBtn{
        content: url(../img/mobile/floor/floor_m_clickBtn.png);
            width: 13vw;
            height: auto;
            position: absolute;
            top: 56vh;
            right: 10vw;
            z-index: 999;
    }

    #floor_img_top{
        content: url(../img/mobile/floor/floor_m_img_top.png);
        width: calc(75/576*100vh);
        height: auto;
        top: 39vh;
    }

    #floor_img_bottom:first-child{
        content: url(../img/mobile/floor/floor_m_img_bottom_left.png);
    }   

    #floor_img_bottom:last-child{
        content: url(../img/mobile/floor/floor_m_img_bottom_right.png);
    }   

    #floor_img_bottom{   
        height: 12vh;
        bottom: 2vh;
    }

    #floor_animation_saso:nth-child(1){
        content: url(/./img/mobile/floor/floor_m_animation_saso_01.png);
    }
    
    #floor_animation_saso:nth-child(2){
        content: url(/./img/mobile/floor/floor_m_animation_saso_02.png);
    }

    #floor_animation_saso:nth-child(3){
        content: url(/./img/mobile/floor/floor_m_animation_saso_03.png);
    }

    #floor_animation_saso{
        width: calc((140/430)*100vw);
        top: 63vh;
        left: 40vw;
    }

    #floor_text{
        content: url(../img/mobile/floor/floor_m_text.png);
        width: 30vw;
        bottom: 75vh;
    }

    #floor_animation_star{
        content: url(../img/mobile/floor/floor_m_animation_star.png);
    }
    

}