#pool_bg{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url("../img/desktop/pool/pool_bg.png");
    background-size: cover;
}

#redline{
    width: 36.12vw;
    height: 93.12vh;
    position: absolute;
    top: 6.82vh;
    left: 0.97vw;
    background-image: url("../img/desktop/pool/pool_animation_redline.png");
}

#drag_container{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* 最上層 */
    z-index: 99;

}



#drag_centerImg{
    width: 26.92vw;
    height: 61.87vh;
    background-image: url("../img/desktop/pool/pool_drag_centerImg.png");
    background-size: cover;
    cursor: grab;


}

#pool_line{
    width: 15.38vw;
    height: 77.63vh;
    background-image: url("../img/desktop/pool/pool_line.png");
    position: absolute;
    top: 22.37vh;
    left: 81.5vw;
}
#animate_right{
    width: 7.48vw;
    height: 22vh;
    background-image: url("../img/desktop/pool/pool_animation_right.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 13.7vh;
    left: 63.98vw;

}
#animate_left{
    width: 8.17vw;
    height: 24vh;
    background-image: url("../img/desktop/pool/pool_animation_left.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 66.46vh;
    left: 33.67vw;
}
#animate_arrow{
    width: calc(92 / 1920 *100vw);
    height: calc(430 /1080 * 100vh);
    background-image: url("../img/desktop/pool/pool_animation_arrow.png");
    background-repeat: no-repeat;
    position: absolute;
    top: calc(384.19 /1080 * 100vh);
    left: calc(1711.45 / 1920 *100vw);
}

#text_tupa{
    width: calc(127/ 1920 *100vw);
    height: calc(250 /1080 * 100vh);
    background-image: url("../img/desktop/pool/pool_text_tupa.png");
    background-repeat: no-repeat;
    position: absolute;
    top: calc(490.95 /1080 * 100vh);
    left: calc(1522.82 / 1920 *100vw);
}
#pool_img{
    width: calc(430/ 1920 *100vw);
    height: calc(599 /1080 * 100vh);
    background-image: url("../img/desktop/pool/pool_img.png");
    background-repeat: no-repeat;
    position: absolute;
    top: calc(397.32 /1080 * 100vh);
    left: calc(184.82 / 1920 *100vw);
    z-index: 6;
}