@keyframes rotate_animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

#animate_right{
    animation:  rotate_animate 2s  normal linear  infinite;
}

#animate_left{
    animation:  rotate_animate 2s  linear  infinite;
    animation-direction: reverse;
}

#index_foot_1{
    animation:  rotate_animate 2s  linear  infinite;
}

#index_foot_2{
    animation:  rotate_animate 2s  linear  infinite;
    animation-direction: reverse;
}