@keyframes flicker {
    0%{opacity: 100%;}
    75%{opacity: 0;}
    100%{opacity: 0;}
}

#container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 3;
}

#container img[src="../../img/desktop/toolRoom/toolRoom_01_1_btn_pre.png"]{
    position: absolute;
    width: 8.5vw;
    height: auto;
    bottom: 7vh;
    left: 40vw;
    animation-name: flicker;
    animation-duration: 0.25s;
    animation-iteration-count: infinite;
}

#bg_video{
    position: absolute;
    z-index: 1;
}

#bg_video video{
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

#bg_video_m{
    display: none;
    position: absolute;
    z-index: 2;
}

#bg_video_m video{
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

@media (max-width: 576px) {

    /* change the background video */
    #bg_video{
        display: none;
    }

    #bg_video_m{
        display: block;
    }

    /* normal */
    #container img[src="../../img/desktop/toolRoom/toolRoom_01_1_btn_pre.png"]{
        position: absolute;
        width: 20vw;
        height: auto;
        bottom: 7vh;
        left: 40vw;
        animation-name: flicker;
        animation-duration: 0.25s;
        animation-iteration-count: infinite;
    }

}