@keyframes animation_text {
    0%{height: 0px;}
    100%{height: calc((388/442)*610px);}
}

body{
    background-image: url(../img/desktop/toolRoom/toolRoom_02_0_bg.png);
    background-size: cover;
    overflow: hidden;
}

#clickLayer{
    width: 100vw;
    height: 100vh;
}

#clickLayer img{
    width: 20vw;
    height: auto;
}

#btn_right{
    position: absolute;
    right: 0%;
    top: 5vh;
}

#btn_left{
    position: absolute;
    left: 0%;
    bottom: 5vh;
}


#animation_text{

    background-image: url(../img/desktop/toolRoom/toolRoom_02_0_animation_text.png);
    background-size: auto 73vh;
    width: fit-content;
    height: fit-content;
    background-repeat: no-repeat;
    animation-name: animation_text;
    animation-duration: 2s;
    animation-iteration-count: infinite;

    position: absolute;
    right: 10vw;
    top: 29vh;
}

#animation_text img{
    width: auto;
    height: 73vh;
    opacity: 0;

}